/*responsive grid system*/
@import "skeleton";

/*----FONT FAMS----*/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);

/*----CSS RESET----*/
body{margin: 0; padding: 0; font-family: 'Source Sans Pro', sans-serif;}
h1,h2 {margin: 0; padding: 0 0 15px; font-size:40px;line-height: 43px;}
h3{margin:0; padding: 0; font-weight: bold;}
p {margin: 0; font-size: 20px; line-height: 40px; font-weight: 300; padding: 0 0 15px;}
a {text-decoration: none; font-weight: 600;}
a:hover {color: #fff; text-decoration: underline;}
strong {font-weight: 600;}


/*----UTILITIES and VARIABLES----*/
$logo: 100px;
$logo-mobile:50px;
$desktop-width: 900px;

@mixin flex(){
    /* flexbox setup */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
}

@mixin tintedBG($imageUrl){
    background: linear-gradient(
      rgba(0, 0, 0, 0.9), 
      rgba(0, 0, 0, 0.45)
    ), url($imageUrl);
    background-size: cover;
}

@mixin skewY($deg){
    -ms-transform: skewY($deg); /* IE 9 */
    -webkit-transform: skewY($deg); /* Safari */
    transform: skewY($deg);
}

.pull-left{float:left;}
.pull-right{float:right;}
.text-center{text-align: center;}
.hide{display: none;}

.clearfix:before,.clearfix:after {content:"";display:table;}
.clearfix:after {clear:both;}
.clearfix {zoom:1;}
.hidden-mobile{display:none;}
.subtext {color: #808080;}

/*-----HEADER-----*/
.overlay{
        width:100%;
        height:100%;
        position:absolute;
        top:0px;
        left:0px;
        z-index:1;
        background: url(../img/overlay-w.png) repeat;
    }

header {
    a{
        color:#fff;
    }
    width:100%;
    color:white;
    letter-spacing: 3px;
    font-size:20px;
    font-family:'Source Sans Pro', san-serif;
    font-weight: 600;
    background: url(../img/garden-bg-2-2.jpg);
    /*background-attachment: fixed;*/
    background-size: cover;
    .top-nav div h1{
        font-size: 20px;
        font-weight:700;
    }
    .top-nav{
        position:relative;
        top:60px;
        width:100%;
        margin: 0 auto;
        z-index: 10;
        div{
            width:100%;
            text-align: center;
        }
    }
    .title{
        padding-top: 50px;
        span{
            font-size: 30px;
            font-weight: 200;
        }
        font-weight:200;
        position:relative;
        width:90%;
        margin:0 auto;
        text-align: center;
        z-index:10;
    }
}

img.square-logo{
    width:$logo-mobile;
    height:$logo-mobile;
    padding:15px;
    border: 3px solid #fff;
}
ul.menu{
    list-style-type: none;
    margin:0;
    display:inline-block;
}

.top-nav .menu li{
    float: left;
    padding: 0 10px 0 0;
    line-height: 53px;
}

.menu li.last{
    padding-right: 0;
}

.content{
    width:$desktop-width;
    margin: 0 auto;
    padding-top: 20px;
}
section{
    padding: 40px 0;
}

/*HEADER for desktop*/
@media (min-width: 920px) {
    img.square-logo{
        width:$logo - 40px;
        height:$logo - 40px;
        padding:25px;
    }
    header{
        line-height:$logo + 25px;
        .top-nav{
            width: $desktop-width;
            div{
                width:auto;
            }
            .menu li{
                padding: 0 50px 0 0;
                line-height: 125px;
            }
        }
        .title{
            padding-top: 90px;
            span{
                font-size: 50px;
                font-weight: 200;
            }
            width:$desktop-width;
        }
    }
}

/*work module containers*/

/*!!!!NOTE: CLEAN UP YOUR DAMN STYLING!!!*/
ul.tag-list { list-style: none; margin: 0; padding: 0; font-size: 12px;}
ul.tag-list li { float:right; padding: 2px 10px; background: black; margin-right: 5px; border-radius: 13px; }
ul.tag-list li.last{margin-right: 0px;}

.work-container{
    position: relative;
    display: block;
    overflow:hidden;
    .over{
        width:100%;
        height:245px;
        position:absolute;
        top:0;
        left:0;
        opacity: 0.5;
        z-index:10;
        background: rgb(0,0,0); /* Old browsers */
    }
}
.work{
   h2{
        position: relative;
        top:15px;
        opacity: 0;
        padding-bottom: 30px;
    }
}
.work .card{
    em{
        color: #808080;
    }
    position: relative;
    width: 100%;
    height: 245px;
    /*margin: 10px 10px 0px 0px;*/
    padding: 0px 0 0; 
    overflow: hidden; 
    .desc.cibc{
            background-position: -145px -410px;
        }
    .desc.klick{
            background-position: -470px -410px;
        }
    .desc.tcdsb{
            background-position: -500px -500px;
        }
    /*color:#000;*/
    .underlay{
        z-index:-1;
        width:100%;
        height:100%;
        position: absolute;
        top:0;
        left:0;
        background: url(../img/garden-bg-2-2.jpg);
    }
}

.work .card .slider {cursor: pointer; padding: 45px 0 0; text-align: center; transition: all 0.4s; position: relative; top: 0;}
.work .card .slider h3{position: relative; z-index: 10; padding: 0px 20px 10px; font-size: 18px; letter-spacing: 1px; opacity: 1; transition: all 0.4s;}
.work .card .slider em{font-size: 14px;}
.work .card .slider.hover {padding: 20px 0 0;}
.work .card .slider.shiftup {cursor: default; top: -100px;}
.work .card .desc.shiftup {top: 20px; transition: all 0.2s;}
.work .card img {width:70px; height:70px; border-radius:100%; margin: 0px 0px 15px;}
.work .card .desc {position: relative; top: 90px; padding: 20px; font-size: 12px; line-height: 19px; background: url(../img/garden-bg-2-2.jpg); text-align: left; transition: all 0.2s;}
.work .card .desc ul.tag-list li {float:left;}
.work .card p {position:relative; z-index:10; font-size:14px; color:#fff; line-height: 25px;}

.work .card.last{ 
   display: none;
    }
.last, .card.last{margin-right: 0px;}

.intro.u-full-width{
    background: url(../img/overlay-w.png);
    background-color: #333;
    color:#fff;
    position: relative;
    overflow: hidden;
}
@media (min-width: 920px) {
    .hidden-mobile{
        display:block;
    }
    .intro{
        max-height: 500px;
        section{
            margin:15px auto;
        }
        h2{
            margin-top: 45px;
        }
    }
    .work-container{
        @include flex();
        justify-content: center;
    }
    .card-row{
        @include flex();
        justify-content: center;
        border-bottom: 1px solid #e4e4e4;
    }
    .work .card {
        width:24.8%;
        border-right:1px solid #e4e4e4;;
    }
    .work .card.last{ 
        display:block;
        pointer-events:none;
        background: url(../img/garden-bg-2-2.jpg);
        color: #fff;
        img{
            opacity: 0;
            }
        h3{
            width:52%;
            padding: 0 0 10px;
            margin: 0 auto;
            top:-35px;
            border-bottom: 1px solid white;
        }
    }
    .card.no-border{
        border-right: none;
    }
    .phone-container{
        position:relative;
        top:42px;
        .background{
            width:100%;
            z-index: 1;
            position:absolute;
            top:-50px;
            left:-85px;
        }
        .phone{
            position: relative;
            z-index:10;
            width:62.5%;
            margin:0 auto;
            left:-13px;
            top:46px;
            @include skewY(-16deg);
            div img{
                width:100%;
            }
        }
    }
}

/*Skillset skills panel*/
.skills{
    padding: 40px 0;
    text-align: center;
    h3{
        font-size: 20px;
        padding:0 0 10px;
    }
    ul{
        text-align: center;
        width:100%;
        margin: 0 auto;
        li{
            opacity:0;
        }
    }
    .one-third.column:first-child{
    }
    .one-third.column:last-child{
        ul{
            list-style-type: none;
            text-align: center;
        }
    }
    .column:hover .icon{
        opacity: 1;
    }
    .icon{
        transition: all 0.2s;
        background: url(../img/icon-bg.png);
        background-size:cover;
        opacity:0.9;
        color:#fff;
        width:130px;
        height:130px;
        margin:20px auto;
        border-radius: 100%;
        p{
            line-height: 130px;
            font-size: 40px;
            font-weight: bold;
        }
        &.second{
            background: url(../img/icon-bg-3.png);
            background-size:cover;
        }
        &.last{
            background: url(../img/icon-bg-2.png);
            background-size:cover;
        }
    }
}

/*quotes panel*/
.references{
    background: url(../img/overlay-w.png);
    background-color: #333;
    color:white;
    .container{
        padding-top: 40px;
        background: url(../img/quote-brace.png) no-repeat;
        background-size: 65px auto;
        background-position: 2px 55px;
    }
    p{
        &.quote{
        }
        &.byline{
            font-size: 17px;
            line-height: 23px;
            padding-left:none;
        }
    }
}

@media (min-width: 920px){
    .one-third.column:first-child{
        border-right:1px solid #e4e4e4;
    }
    .one-third.column:last-child{
        border-left:1px solid #e4e4e4;
    }
    .skills ul{
        width:75%;
        text-align: left;
    }
    .references {
        .container{
            background-size: 65px auto;
            background-position: 30px 52px;
        }
        p.byline{
            padding-left: 70%;
        }
    }
}
//typed.js blinking cursor
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}