/*responsive grid system*/
/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/
/* Table of contents
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/
/* Grid
-------------------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);
.container {
  position: relative;
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 90%;
    padding: 0; } }
/* For devices larger than 550px */
@media (min-width: 920px) {
  .container {
    width: 100%; }

  .column,
  .columns {
    margin-left: 4%; }

  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns {
    width: 4.66666666667%; }

  .two.columns {
    width: 13.3333333333%; }

  .three.columns {
    width: 22%; }

  .four.columns {
    width: 30.6666666667%; }

  .five.columns {
    width: 39.3333333333%; }

  .six.columns {
    width: 48%; }

  .seven.columns {
    width: 56.6666666667%; }

  .eight.columns {
    width: 65.3333333333%; }

  .nine.columns {
    width: 74.0%; }

  .ten.columns {
    width: 82.6666666667%; }

  .eleven.columns {
    width: 91.3333333333%; }

  .twelve.columns {
    width: 100%;
    margin-left: 0; }

  .one-third.column {
    width: 30.6666666667%; }

  .two-thirds.column {
    width: 65.3333333333%; }

  .one-half.column {
    width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66666666667%; }

  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.3333333333%; }

  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%; }

  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.6666666667%; }

  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.3333333333%; }

  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%; }

  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.6666666667%; }

  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.3333333333%; }

  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78.0%; }

  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.6666666667%; }

  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.6666666667%; }

  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns {
    margin-left: 52%; } }
/* Utilities
-------------------------------------------------- */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }

.u-pull-right {
  float: right; }

.u-pull-left {
  float: left; }

/* Base Styles
-------------------------------------------------- */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
body {
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222; }

/* Typography
-------------------------------------------------- */
/*h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }
*/
/* Larger than phablet */
/*@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}*/
/*p {
  margin-top: 0; }*/
/* Links
-------------------------------------------------- */
a {
  color: #1EAEDB; }

a:hover {
  color: #0FA0CE; }

/* Buttons
-------------------------------------------------- */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 0;
  border: 0;
  cursor: pointer;
  box-sizing: border-box; }

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #739410;
  border-color: none; }

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #67850F;
  border-color: none; }

/* Forms
-------------------------------------------------- */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }

label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }

fieldset {
  padding: 0;
  border-width: 0; }

input[type="checkbox"],
input[type="radio"] {
  display: inline; }

label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }

/* Lists
-------------------------------------------------- */
ul {
  list-style: circle inside; }

ol {
  list-style: decimal inside; }

ol, ul {
  padding-left: 0;
  margin-top: 0; }

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }

li {
  margin-bottom: 1rem; }

/* Code
-------------------------------------------------- */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }

/* Tables
-------------------------------------------------- */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }

th:first-child,
td:first-child {
  padding-left: 0; }

th:last-child,
td:last-child {
  padding-right: 0; }

/* Spacing
-------------------------------------------------- */
button,
.button {
  margin-bottom: 1rem; }

input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }

/* Misc
-------------------------------------------------- */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }

/* Clearing
-------------------------------------------------- */
/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

/* Media Queries
-------------------------------------------------- */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/
/* Larger than mobile */
/* Larger than phablet (also point when grid becomes active) */
/* Larger than tablet */
/* Larger than desktop */
/* Larger than Desktop HD */
@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?50407146");
  src: url("../font/fontello.eot?50407146#iefix") format("embedded-opentype"), url("../font/fontello.woff?50407146") format("woff"), url("../font/fontello.ttf?50407146") format("truetype"), url("../font/fontello.svg?50407146#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?50407146#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-instagram:before {
  content: '\e800'; }

.icon-pdf:before {
  content: '\e804'; }

.icon-phone:before {
  content: '\e805'; }

.icon-facebook-squared:before {
  content: '\e806'; }

.icon-github-squared:before {
  content: '\e808'; }

.icon-linkedin-squared:before {
  content: '\e809'; }

.icon-tumblr:before {
  content: '\e80a'; }

.icon-mail:before {
  content: '\e80b'; }

/*----FONT FAMS----*/
/*----CSS RESET----*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif; }

h1, h2 {
  margin: 0;
  padding: 0 0 15px;
  font-size: 40px;
  line-height: 43px; }

h3 {
  margin: 0;
  padding: 0;
  font-weight: bold; }

p {
  margin: 0;
  font-size: 20px;
  line-height: 40px;
  font-weight: 300;
  padding: 0 0 15px; }

a {
  text-decoration: none;
  font-weight: 600;
  color: #FF9933;
  transition: all 0.2s; }

a:hover {
  color: #CC7A00;
  text-decoration: underline; }

strong {
  font-weight: 600; }

/*----UTILITIES and VARIABLES----*/
.pull-left {
  float: left; }

.pull-right {
  float: right; }

.text-center {
  text-align: center; }

.hide {
  display: none; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

.hidden-mobile {
  display: none; }

.subtext {
  color: #808080; }

/*-----MENU-------*/
.top-menu {
  display: none;
  z-index: 100;
  position: fixed;
  background: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid #e4e4e4;
  width: 100%;
  padding: 15px 0; }
  .top-menu .no-color {
    color: #000; }
  .top-menu .no-color:hover {
    text-decoration: none; }
  .top-menu h3 {
    text-align: center;
    letter-spacing: 3px;
    font-size: 23px;
    line-height: 25px; }
  .top-menu ul {
    text-align: center;
    list-style-type: none;
    margin: 0; }
    .top-menu ul li {
      display: inline;
      margin-right: 10px; }
      .top-menu ul li.last {
        margin-right: 0; }
      .top-menu ul li a {
        letter-spacing: 3px;
        color: #739410;
        line-height: 25px; }
      .top-menu ul li a:hover {
        text-decoration: none;
        color: #CC7A00; }
  .top-menu .navProjects, .top-menu .navWork {
    display: none; }

@media (min-width: 920px) {
  .top-menu h3 {
    text-align: left; }
  .top-menu ul {
    text-align: right; }
    .top-menu ul li {
      margin-right: 20px; }
  .top-menu .navProjects, .top-menu .navWork {
    display: inline; } }
/*-----HEADER-----*/
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background: url(../img/overlay-w.png) repeat;
  pointer-events: none; }
  .overlay.tint {
    z-index: 2;
    background: rgba(0, 0, 0, 0.1); }

.black {
  background: #000; }

header {
  display: none;
  width: 100%;
  color: white;
  letter-spacing: 3px;
  font-size: 20px;
  font-family: 'Source Sans Pro', san-serif;
  font-weight: 600;
  /*background-attachment: fixed;*/
  background-size: cover; }
  header a {
    color: #fff; }
  header .top-nav div h1 {
    font-size: 20px;
    font-weight: 700; }
  header .top-nav {
    position: relative;
    top: 50px;
    width: 100%;
    margin: 0 auto;
    z-index: 10; }
    header .top-nav div {
      width: 100%;
      text-align: center; }
  header .title {
    display: none;
    position: absolute;
    font-weight: 200;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    z-index: 10; }
    header .title h1 {
      font-size: 55px; }
    header .title span {
      font-size: 30px;
      font-weight: 200; }
  header .chevron {
    display: none; }

img.square-logo {
  width: 50px;
  height: 50px;
  padding: 15px;
  border: 3px solid #fff; }

ul.menu {
  padding-top: 20px;
  list-style-type: none;
  margin: 0;
  display: block; }

.top-nav .menu li {
  float: none;
  line-height: 43px; }

.menu li.last {
  padding-right: 0; }

.content {
  width: 900px;
  margin: 0 auto;
  padding-top: 20px; }

.panel {
  padding: 40px 0; }

/*HEADER for desktop*/
@media (min-width: 920px) {
  ul.menu {
    display: inline-block;
    padding: 0 10px 0 0;
    line-height: 53px; }

  .top-nav .menu li {
    float: left;
    line-height: 53px; }

  .top-nav .menu li.last {
    padding-right: 0; }

  img.square-logo, body.projects img.square-logo {
    width: 60px;
    height: 60px;
    padding: 25px; }

  header .top-nav {
    line-height: 125px;
    width: 900px; }
    header .top-nav div {
      width: auto; }
    header .top-nav .menu li {
      padding: 0 30px 0 0;
      line-height: 125px; }
  header .title {
    display: block;
    margin: 0 auto;
    width: 100%; }
    header .title span {
      line-height: 37px;
      font-size: 30px;
      font-weight: 200; }
  header .chevron {
    display: block;
    position: absolute;
    bottom: 10px;
    right: 15px;
    z-index: 10;
    font-size: 16px;
    font-weight: normal; } }
/*about panel*/
section.about {
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 0; }
  section.about h2 {
    padding-top: 10px; }
  section.about .torso {
    width: 180px;
    display: block;
    margin: 0 auto; }
  section.about p {
    padding-bottom: 10px; }

@media (min-width: 920px) {
  section.about .torso {
    width: 130%;
    position: relative;
    left: -35px; } }
/*work module containers*/
/*!!!!NOTE: CLEAN UP YOUR DAMN STYLING!!!*/
ul.tag-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 12px; }

ul.tag-list li {
  float: right;
  padding: 2px 10px;
  background: black;
  margin-right: 5px;
  border-radius: 13px; }

ul.tag-list li.last {
  margin-right: 0px; }

.work-container {
  position: relative;
  display: block;
  overflow: hidden; }
  .work-container .over {
    width: 100%;
    height: 245px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: 10;
    background: black;
    /* Old browsers */ }

.work h2 {
  position: relative;
  top: 15px;
  opacity: 0;
  padding-bottom: 30px; }

.work .card {
  position: relative;
  width: 100%;
  height: 245px;
  /*margin: 10px 10px 0px 0px;*/
  padding: 0px 0 0;
  overflow: hidden;
  /*color:#000;*/ }
  .work .card em {
    color: #808080; }
  .work .card .desc.cibc {
    background-position: -145px -410px; }
  .work .card .desc.klick {
    background-position: -470px -410px; }
  .work .card .desc.tcdsb {
    background-position: -500px -500px; }
  .work .card .underlay {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/garden-bg-2-2.jpg); }

.work .card .slider {
  cursor: pointer;
  padding: 45px 0 0;
  text-align: center;
  transition: all 0.4s;
  position: relative;
  top: 0; }

.work .card .slider h3 {
  position: relative;
  z-index: 10;
  padding: 0px 20px 10px;
  font-size: 18px;
  letter-spacing: 1px;
  opacity: 1;
  transition: all 0.4s; }

.work .card .slider em {
  font-size: 14px;
  position: relative;
  z-index: 10; }

.work .card .slider.hover {
  padding: 20px 0 0; }

.work .card .slider.shiftup {
  cursor: default;
  top: -100px; }

.work .card .desc.shiftup {
  top: 20px;
  transition: all 0.2s; }

.work .card img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  margin: 0px 0px 15px; }

.work .card .desc {
  position: relative;
  top: 90px;
  padding: 20px;
  font-size: 12px;
  line-height: 19px;
  background: url(../img/garden-bg-2-2.jpg);
  text-align: left;
  transition: all 0.2s; }

.work .card .desc ul.tag-list li {
  float: left; }

.work .card p {
  position: relative;
  z-index: 10;
  font-size: 14px;
  color: #fff;
  line-height: 25px; }

.work .card.last {
  display: none; }

.last, .card.last {
  margin-right: 0px; }

.intro.u-full-width {
  background: url(../img/overlay-w.png);
  background-color: #333;
  color: #fff;
  position: relative;
  overflow: hidden;
  padding-bottom: 40px; }

@media (min-width: 920px) {
  .hidden-mobile {
    display: block; }

  .intro {
    max-height: 500px; }
    .intro section {
      margin: 15px auto; }
    .intro h2 {
      margin-top: 35px; }

  .work-container {
    /* flexbox setup */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-wrap: wrap;
    justify-content: center; }

  .card-row {
    /* flexbox setup */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 1px solid #e4e4e4; }

  .work .card {
    width: 24.8%;
    border-right: 1px solid #e4e4e4; }

  .work .card.last {
    display: block;
    pointer-events: none;
    background: url(../img/garden-bg-2-2.jpg);
    color: #fff; }
    .work .card.last img {
      opacity: 0; }
    .work .card.last h3 {
      width: 52%;
      padding: 0 0 10px;
      margin: 0 auto;
      top: -35px;
      border-bottom: 1px solid white; }

  .card.no-border {
    border-right: none; }

  .phone-container {
    position: relative;
    top: 42px; }
    .phone-container .background {
      width: 100%;
      z-index: 1;
      position: absolute;
      top: -50px;
      left: -85px; }
    .phone-container .phone {
      position: relative;
      z-index: 10;
      width: 62.5%;
      margin: 0 auto;
      left: -13px;
      top: 46px;
      -ms-transform: skewY(-16deg);
      /* IE 9 */
      -webkit-transform: skewY(-16deg);
      /* Safari */
      transform: skewY(-16deg); }
      .phone-container .phone div img {
        width: 100%; } }
/*Skillset skills panel*/
.skills {
  padding-bottom: 40px;
  text-align: center; }
  .skills h3 {
    font-size: 20px;
    padding: 0 0 10px; }
  .skills ul {
    text-align: center;
    width: 100%;
    margin: 0 auto; }
    .skills ul li {
      opacity: 0;
      color: #808080; }
  .skills .one-third.column:last-child ul {
    list-style-type: none;
    text-align: center; }
  .skills .column:hover .icon {
    opacity: 1; }
  .skills .icon {
    transition: all 0.2s;
    background: url(../img/icon-bg.png);
    background-size: cover;
    opacity: 0.9;
    color: #fff;
    width: 130px;
    height: 130px;
    margin: 20px auto;
    border-radius: 100%; }
    .skills .icon p {
      line-height: 130px;
      font-size: 40px;
      font-weight: bold; }
    .skills .icon.second {
      background: url(../img/icon-bg-3.png);
      background-size: cover; }
    .skills .icon.last {
      background: url(../img/icon-bg-2.png);
      background-size: cover; }

/*quotes panel*/
.references {
  background: url(../img/overlay-w.png);
  background-color: #333;
  color: white; }
  .references .container {
    padding-top: 40px;
    background: url(../img/quote-brace.png) no-repeat;
    background-size: 65px auto;
    background-position: 2px 350px; }
  .references .quotes {
    padding: 15px 0 40px; }
  .references p {
    font-size: 16px;
    line-height: 30px; }
    .references p.byline {
      color: #D1D1D1;
      font-size: 14px;
      line-height: 23px;
      padding-left: none; }
      .references p.byline strong {
        color: #fff; }
  .references #contactForm input, .references #contactForm textarea {
    -webkit-appearance: none;
    border-radius: 0;
    border-radius: 0;
    font-size: 14px;
    width: 100%; }
  .references #contactForm .button-primary {
    background-color: #739410;
    background-size: 200%;
    border: none;
    transition: all 0.2s; }
  .references #contactForm .button-primary:hover {
    background-color: #67850F; }
  .references #contactForm .sentDisabled {
    background-color: #40520A;
    pointer-events: none;
    transition: all 0.1s; }

@media (min-width: 920px) {
  .references #contactForm input, .references #contactForm textarea {
    border-radius: 0;
    font-size: 14px;
    width: 90%; }
  .references .quotes {
    padding-top: 86px; }

  .skills .one-third.column:first-child {
    border-right: 1px solid #e4e4e4; }

  .skills .one-third.column:last-child {
    border-left: 1px solid #e4e4e4; }

  .skills ul {
    width: 75%;
    text-align: left; }

  .references .container {
    background-size: 65px auto;
    background-position: 437px 95px; }
  .references p.byline {
    padding-left: 60%; } }
.footer {
  /*removes apple link <a> color*/
  background-color: #0A0A0A;
  color: #fff; }
  .footer footer.panel {
    width: 333px;
    margin: 0 auto; }
  .footer .appleLinks a {
    color: #D1D1D1;
    font-weight: normal; }
  .footer i {
    padding-right: 5px;
    transition: all 0.2s; }
  .footer p:hover i {
    color: #CC7A00; }
  .footer .border {
    width: 64%;
    margin: 15px 0 0;
    border-top: 3px solid #808080; }
  .footer ul.icons {
    list-style-type: none;
    padding: 15px 0 0;
    margin: 0; }
    .footer ul.icons li {
      display: inline; }
      .footer ul.icons li i {
        font-size: 17px; }
      .footer ul.icons li a {
        color: #808080; }
      .footer ul.icons li a:hover {
        color: #CC7A00; }
    .footer ul.icons i:last-child {
      margin-right: 0; }
  .footer .square-logo {
    width: 40px;
    height: 40px;
    padding: 30px;
    display: inline-block;
    vertical-align: top;
    margin-left: 25px; }
  .footer .square-logo:hover {
    background: url(../img/garden-bg-2-2.jpg);
    background-size: 250%; }
  .footer .contact {
    display: inline-block;
    padding: 42px 0 0 15px; }
  .footer p {
    line-height: 18px;
    font-size: 16px;
    color: #D1D1D1;
    padding: 0; }
  .footer p:first-child {
    padding-bottom: 10px; }
  .footer .disclaimer {
    color: #808080;
    font-size: 12px;
    padding-top: 15px;
    text-align: center;
    /*width:271px;*/ }

.projects h2 {
  color: #000;
  text-align: center;
  opacity: 1; }
.projects.panel.work {
  padding: 0px;
  width: 100%; }
.projects header {
  display: block;
  color: #000;
  background: #fff; }
.projects a {
  color: #000; }
  .projects a.proj {
    color: #739410; }
.projects .work .card {
  color: #fff; }
  .projects .work .card em {
    color: #fff; }
  .projects .work .card h3 {
    padding-top: 50px;
    font-size: 25px;
    text-transform: uppercase; }
  .projects .work .card .desc {
    top: 101px;
    background: #0A0A0A; }
    .projects .work .card .desc.shiftup {
      top: 20px; }
  .projects .work .card .title {
    padding-top: 20px; }

body.projects img.square-logo {
  padding: 15px;
  border: 3px solid #000; }

/*HEADER for desktop*/
@media (min-width: 920px) {
  .projects .work .card {
    width: 40%;
    border-bottom: 1px solid #e4e4e4;
    border-right: none;
    margin: 17px;
    box-shadow: -5px 5px #E4E4E4;
    padding: 0 0 40px; }
  .projects img.square-logo {
    width: 60px;
    height: 60px;
    padding: 25px; }
  .projects header .top-nav {
    line-height: 0;
    padding: 40px 0 0;
    top: 0; }

  body.projects .work.panel {
    padding-top: 0; }
  body.projects footer .square-logo {
    width: 40px;
    height: 40px;
    padding: 30px;
    display: inline-block;
    vertical-align: top;
    margin-left: 25px;
    border: 3px solid #fff; } }
.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

@keyframes blink {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-webkit-keyframes blink {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-moz-keyframes blink {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }
