/*imports*/
@import "normalize";
@import "fluid_skeleton";
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Serif:400,700);

html {
    font: 100%/1.5em 'PT Sans', sans-serif;
}

header.band {
	background: #4b371f;
	color: white;
	text-align: center;
	padding: 10% 0 15% 0;
}

h1, h2, h3 {
    font-family: 'PT Serif', serif;
    font-weight: 700;
    text-align: center;
}
 
p {
	font-family: 'PT Serif', sans-serif;
	font-weight: 700;
	color: white;
}
header.band h1 {
	font-family: 'PT Serif', sans-serif;
	letter-spacing: 5px;
    font-size: 3em;
    line-height: 1em;
    margin-bottom: 1em;
}

a.button {
    background: #ffa500;
    text-align: center;
    padding: .5em 1em;
    color: white;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0 0.2em 0 #ab3009;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
 
a.button:hover {
    background: #CC6600;
}

/*below is only enabled for screens larger than 767px; first breakpoint*/
@media only screen and (min-width: 767px){
	header.band{
		background-image:url(../img/beach-dark.jpg);
		background-size: 100%;
	}

	header.band h1 {
		font-family: 'PT Serif', sans-serif;
		font-size: 3.25em; 
	}
}