/*imports*/
@import "normalize";
@import "fluid_skeleton";
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Serif:400,700);

html {
    font: 100%/1.5em 'PT Sans', sans-serif;
}

header.band {
	background: #4b371f;
	color: white;
	text-align: center;
	padding: 10% 0 15% 0;
}

h1, h2, h3 {
    font-family: 'PT Serif', serif;
    font-weight: 700;
    text-align: center;
}
 
header.band h1 {
    font-size: 3em;
    line-height: 1em;
    margin-bottom: 1em;
}
