<!DOCTYPE html>
<html ng-app="sayWat">
<head>
	<meta charset="utf-8">
	<!--viewport-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>sayWAT | People talking about ____ </title>

	<link rel="stylesheet" href="css/styles.css">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src ="js/angular.min.js"></script>
    <script type="text/javascript" src ="js/watang.js"></script>
    <script src="http://www.parsecdn.com/js/parse-1.2.13.min.js"></script>
    <script src="js/jquery.loadTemplate-1.4.5.min.js"</script>
</head>

<script type="text/html" id="template">
     <div class="card">
        <img id="img-holder"></img>
        <div class="card-text">
        <h3 id="postTitle" data-content="title"></h3>
        </div><!--card-text-->
    </div><!--card-->
</script>

<body ng-controller="BodyController as sayWat">
    <header class="band first" ng-controller="PanelController as panel">
        <div class="container">
            <div class="columns sixteen first">
                <h1 id="say">say</h1><h1>WAT</h1>
                <br>
                <h3>Talk about  </h3><h3 id="blank">_____</h3><h3>.</h3>
                <button class= "button" ng-click="panel.isSelected()">Say Something</button>
            </div>
        </div>
    <div class ="container">
        <div class="columns sixteen">
            <div class="pSwapForm" ng-show="panel.tab">
                <form name="addThreadForm" ng-submit="threadSwap.addThread()">
                <input id="title" type="text" name="item" placeholder="Write about anything."><br>
                <input id="imageURL" type="text" name="imageURL" placeholder="Author"><br>
                <input class = "button" type="submit" id="subButton" value="Submit" ng-click="panel.hideForm()">
                </form>
            </div>
        </div><!--cols six-->
    </div><!--container-->
    </header>
    <div class="band feed">
        <div class="container">
            <div class="columns sixteen feedArray">

                </div><!--card-->
            </div>
    </div>

</body>